CommsecExercise2/CommsecExercise2.Library.IntegrationTests/Service References/MovieService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MoviesLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetSorted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSorted" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetSorted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/Get" message="tns:IMovieService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetResponse" message="tns:IMovieService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetById" message="tns:IMovieService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetByIdResponse" message="tns:IMovieService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetSorted" message="tns:IMovieService_GetSorted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetSortedResponse" message="tns:IMovieService_GetSorted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/Search" message="tns:IMovieService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/SearchResponse" message="tns:IMovieService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/Insert" message="tns:IMovieService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/InsertResponse" message="tns:IMovieService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/Update" message="tns:IMovieService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/UpdateResponse" message="tns:IMovieService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieService" type="tns:IMovieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IMovieService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetSorted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IMovieService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IMovieService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IMovieService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieService">
    <wsdl:port name="BasicHttpBinding_IMovieService" binding="tns:BasicHttpBinding_IMovieService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CommsecExercise2.Library/MovieService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>